<div id='testdiv' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>

<div class="pageContainer">
  <form class="pdfControllers" (submit)="onChangeOrientation()">
    <h5 classname="resolution">Resolution Info (X: {{ paper.dpiWidth }} | Y: {{ paper.dpiHeight}})</h5>
    <div class="controller">
      <label class="label">Orientation</label>
      <select class="selectInput" name="orientation" [(ngModel)]="orientation">
        <option value="portrait">Portrait</option>
        <option value="landscape">Landscape</option>
      </select>
      <button class="submitButton">Prepare</button>
      <button type="button" class="submitButton2" (click)="onExportPdf()">Generate PDF</button>
    </div>
  </form>

  <div class="pdfContainer" id="pdf">
    <div class="print-area" [ngClass]="paper.orientaion + '-' +paper.dpiHeight">
      <div class="paper" [ngClass]="paper.orientaion + '-' +paper.dpiHeight">
        <i class="fakharnia-logo logo"  ></i>
      </div>
    </div>
  </div>

</div>